body {
    font-family: 'Baloo Bhai', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('./pexels-photo-841131.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    
}

.left {
    position: absolute;
    left: 40px;
    top: 5px;
    margin-top: 2px;
}

.left img {
    width: 136px;
    filter: invert(10%);
}

.left div {
    line-height: 1px;
    font-size: 15px;
    text-align: left;
}

.mid {
    display: block;
    width: 36%;
    margin: 19px auto;
}

.right {
    position: absolute;
    right: 34px;
    top: 43px;
    display: inline-block;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 50 px;
}

.navbar li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 14px 12px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: rgb(160, 0, 0);
}

.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 0px 4px;
    background-color: black;
    color: rgb(160, 0, 0);
    padding: 5px 14px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(31, 30, 30);
    box-shadow: rgb(160, 0, 0);
}

.container {
    border: 2px solid white;
    margin: 106px 80px;
    padding: 75px;
    width: 33%;
    border-radius: 128px;
    padding-left: 70px;
    align-items: center;
    justify-content: center;
}

.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 400px;
    padding: 1px;
    border: 1px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 40px;
}

.container h1 {
    text-align: center;
    size: 5px;
}

.container button {
    display: block;
    width: 34%;
    margin: 10px auto;
}

.form-group {
    padding: 19px auto;
}
